@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300");
body {
  font-family: "Noto Sans", sans-serif;
}

/* ---- GENERAL ----- */

.container {
  /* border: green solid 1px; */
  /* background-color: #030714; */
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

img {
  width: 100px;
}

a {
  text-decoration: none;
  color: black;
}

/* .img-background {
  width: 1200px;
  height: 925px;
  object-fit: cover;
  position: relative;
} */

/* ---- HEADER ----- */
.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  /* border: red solid 1px; */
  width: 1200px;
  height: 100px;
  background-color: #030714;
  z-index: 1;
}

.container-header img {
  width: 150px;
}
.menu {
  display: flex;
  gap: 20px;
}
.menu button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
}

.menu button:hover {
  text-decoration: underline;
}
/* ---- CHARACTERS ----- */
.container-characters {
  /* border: blue solid 1px; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* position: absolute;
  top: 200px; */
  width: 1200px;
}

.one-character {
  border: white solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 275px;
  background-color: black;
  border-radius: 10px;
  transition: transform 0.1s;
}

.one-character:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  background-color: #071541;
}

.one-character-text {
  flex: 1;
  /* border: red solid 1px; */
  width: 100%;
  height: 100%;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  overflow-x: scroll hidden;
}

.one-character-text p {
  /* overflow-x: scroll hidden; */
  /* border: red solid 1px; */
}

.one-character-text:hover {
  /* background-color: red; */
}

.one-character img {
  flex: 5;
  /* border: purple solid 1px; */
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}

h2 {
  font-weight: bold;
  font-size: 13px;
}

.one-character p {
  font-size: 12px;
}

/* ---- CHARACTERS COMICS ----- */

.characterComics-left img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  border: white solid 1px;
}

.characterComics-left p {
  color: white;
  margin-top: 20px;
  width: 500px;
}

.flex-parent {
  display: flex;
  padding: 50px;
  gap: 50px;
  /* position: absolute;
  top: 100px; */
  width: 1200px;
  /* background-color: black; */
}

.characterComics-right {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 15px; */
  border: red solid 1px;
  width: 800px;
  display: flex;
  flex-direction: column;
}

/* .characterComics-right p {
  color: white;
  border: orange 1px solid;
} */

/* .characterComics-right img {
  border-radius: 10px;
} */

.one-characterComics {
  border: blue solid 1px;
  display: flex;
  width: 168px;
  gap: 15px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  background-color: black;

  /* display: flex;
  flex-direction: column;
  gap: 15px;

  border-radius: 10px;
  background-color: black;
  height: 300px;
  width: 200px; */
}

.one-characterComics img {
  width: 168px;
  height: 75%;
  object-fit: cover;
}

.title {
  padding: 10px;
}

.title p {
  color: white;
}

/* .one-characterComics p {
  /* overflow: scroll;
  padding-left: 10px; */

/* border: blue solid 1px; */
/* padding: 5px;
  text-align: center;
  color: white;
} */

h1 {
  color: white;
  border: orange 1px solid;
  flex: 1;
}

h2 {
  /* border: brown solid 1px; */
  flex: 1;
  color: white;
  margin-bottom: 20px;
}
.comics {
  display: flex;
  gap: 20px;
  overflow: scroll hidden;
  border: yellowgreen solid 1px;
  flex: 4;
}

/* ---- PAGINATION ----- */

/* nav {
  border: green solid 1px;
  width: 1200px;
  padding-left: 100px;
} */

nav ul {
  padding: 10px;
  display: flex;
  gap: 5px;
}

nav li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

nav li:hover:not(.active) {
  background-color: white;
  color: darkblue;
}

nav li a:hover:not(.active) {
  color: darkblue;
}

.active {
  border: white solid 1px;
  background-color: white;
}

.active a {
  color: darkblue;
}

nav img {
  height: 25px;
  width: 25px;
}

/* .pagination {
  position: absolute;
  top: 3100px;
  left: 100px;

  border: green solid 1px;
} */

a {
  color: white;
}

/* ---- SEARCH BAR ----- */

.searchbar {
  /* border: red solid 1px; */
  width: 300px;
  height: 40px;
  border-radius: 60px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;

  background-color: #353e59;
  display: flex;
  align-items: center;
  /* position: absolute;
  top: 110px; */
}

.searchbar input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: white;
  overflow: visible;
  flex: 1;
  padding-left: 15px;
}

::placeholder {
  color: white;
  opacity: 50%;
}

.searchbar-section {
  border: yellow solid 1px;
  width: 1200px;
  display: flex;
  justify-content: center;

  /* position: absolute;
  top: 175px; */
}

/* ---- COMICS ----- */
.comic-desc {
  display: flex;
  overflow: scroll hidden;
}

.container-comics {
  border: blue solid 1px;
  /* background-color: black; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;

  top: 400px;
  width: 1200px;
}
