@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* ---- GENERAL ----- */

.container {
  border: red solid 1px;
  background-color: aqua;
  width: 1200px;
  margin: 0 auto;
}

img {
  width: 100px;
}

/* ---- HEADER ----- */
.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
